body{
    margin: 0;
    display: grid;
    grid-template-areas:'navbar navbar navbar navbar'
                        'section section aside aside'
                        'footer footer footer footer';
    grid-template-rows: 15vh 60vh 30vh;
}

nav{
    grid-area: navbar;
    background-color: olive;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 16pt;
}

#menuHamburguer{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 40px;
    width: 30px;
}

.trace{
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 25px;
}
/*MEDIAS NAVBAR TABLET*/
@media (max-width:768px){
    nav a{
        display: none;
    }
    #menuHamburguer{
        display: flex;
    }
    body{
        grid-template-areas:'navbar navbar navbar aside'
                            'section section section aside'
                            'footer footer footer aside';
        grid-template-rows: 15vh 60vh 30vh;
    }
}

/*CELULAR*/
@media (max-width:425px){
    nav{
        justify-content: flex-start;
    }
    #menuHamburguer{
        margin-left: 10px;
    }
    body{
        grid-template-areas:'navbar navbar navbar navbar'
                            'section section section section'
                            'aside aside aside aside'
                            'footer footer footer footer';
        grid-template-rows: 15vh 60vh 60vh 30vh; 
    }
}

section{
    grid-area: section;
    background-color: orange;
}

aside{
    grid-area: aside;
    background-color: blue;
}

footer{
    grid-area: footer;
    background-color: orangered;
}